.Header_section {
    height: 15%;
    width: 100%;
    overflow: hidden;
}

.Header {
    width: 100%;
    height: 10%;
    min-height: 28px;
    max-height: 20%;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    /* padding: 8px; */
}

.Header_left {
    padding-left: 2.5%;
    line-height: normal;
    position: relative;
    width: 15%;
}
.Header_left_fa {
    padding-right: 2.5%;
    line-height: normal;
    position: relative;
    width: 15%;
}

/* display flex and underline link*/
#logo_address {
    display: flex;
    flex-direction: row;
    width: 40%;
    text-decoration: none;

}
#logo_address_fa {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40%;
    text-decoration: none;

}
#logo {
    width: 40px;
    height: 40px;
    /* margin-bottom: 5%; */
    margin-top: 40%;
    padding-right: 40%;
}

#logo_text {
    font-size: 22px;
    line-height: 24px;
    padding-top: 70%;
    padding-left: 30%;
    font-weight: 480;
    color: #5f6368;
}
#logo_fa {
    width: 40px;
    height: 40px;
    /* margin-bottom: 5%; */
    margin-top: 40%;
    padding-left: 40%;
}

#logo_text_fa {
    direction: ltr;
    font-size: 22px;
    line-height: 24px;
    padding-top: 70%;
    /* width: 100px; */
    /* height: 100px; */
    padding-right: 30%;
    /* width: %; */
    font-weight: 480;
    
    color: #5f6368;
}

.Header_search {
    width: 68%;
    height: 100%;
    margin-top: 0.1%;
    display: flex;
    /* margin-left:5px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    padding-left: 2%;
    background-color: #F1F3F4;
    border-radius: 8px;
    min-height: 28px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #5f6368;
}

#search_input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #5f6368;
}

.Header_right {
    display: flex;

}

#icon_tune {
    width: 40px;
    height: 40px;
    padding-top: 1%;
    /* padding-left: 2%; */
    font-size: 10px;
    line-height: 12px;
    color: #5f6368;
}
#icon_tune_fa {
    width: 40px;
    height: 40px;
    /* padding-top: 1%; */
    /* padding-left: 2%; */
    font-size: 10px;
    margin-top: 0.7%;
    line-height: 12px;
    color: #5f6368;
}
@media screen and (max-width: 768px) {
    #logo {
        width: 20px;
        height: 20px;
        /* margin-bottom: 5%; */
        margin-top: 10px;
        padding-right: 10px;
    }

    #logo_text {
        font-size: 12px;
        line-height: 14px;
        padding-top: 10px;
        padding-left: 2px;
        font-weight: 480;
        color: #5f6368;
    }

    #search_input {
        width: 30px;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 10px;
        line-height: 12px;
        color: #5f6368;
    }

    .Header_search {
        width: 30px;
        height: 100%;
        margin-top: 0.1%;
        display: flex;
        /* margin-left:5px; */
        /* border: 1px solid #ccc; */
        /* border-radius: 5px; */
        padding-left: 10px;
        background-color: #F1F3F4;
        border-radius: 8px;
        min-height: 20px;
        padding-right: 5px;
        font-size: 10px;
        line-height: 12px;
        color: #5f6368;
    }

    #icon_tune {
        width: 15px;
        height: 15px;

        padding-top: 20px;
        padding-left: 60px;
        font-size: 10px;
        /* margin-right: 40px; */
        line-height: 12px;
        color: #5f6368;
    }

    #icon {
        width: 15px;
        height: 15px;
        margin-top: 13px;
        margin-left: 15px;

    }

    #icon_app {
        width: 15px;
        height: 15px;
        margin-top: 13px;
        margin-left: 40px;
        margin-right: 10px;
    }

    #search {
        margin-left: 30px;
        width: 150px;
        /* margin-right: 40px; */
    }

    .Header_right {
        width: 100%;
    }

    .Header_search {
        width: 100%;
    }
}