#home_logo{
    width: 55%;
    height: 55%;
    /* margin-bottom: 5%; */
    /* margin-top: 40%; */
    /* padding-right: 40%; */
}
@media screen and (max-width: 850px)  {
    #home_logo{
        /* width: 55%; */
        width: 300px;
        height: 650px;
        /* height: 100%; */
        /* margin-bottom: 5%; */
        /* margin-top: 40%; */
        /* padding-right: 40%; */
    }
    
}