.login-form {
  margin-top: 20%;
  /* margin-left: 100%; */
  border: 1.5px solid #dadce0;
  border-radius: 6px;
  width: 84%;
  font-family: Vazirmatn,sans-serif;
  /* height: 60%; */
  padding: 40px;
}
.login-form-fa {
  direction: rtl;
  margin-top: 20%;
  /* margin-left: 100%; */
  border: 1.5px solid #dadce0;
  border-radius: 6px;
  font-family: Vazirmatn,sans-serif;
  width: 84%;
  /* height: 60%; */
  padding: 40px;
}
.login-formm {
  /* direction: rtl; */
  margin-top: 5%;
  margin-left: 8%;
  /* margin-bottom: ; */
  font-family: Vazirmatn,sans-serif;
  /* margin-left: 100%; */
  border: 1.5px solid #dadce0;
  border-radius: 6px;
  width: 84%;
  /* height: 40%; */
  padding: 15%;
}
.logos {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.logo {
  justify-content: center;
  align-items: center;
  display: flex;
}
#sign_text {
  font-size: 30px;
  font-weight: 400;
}
#continue_text {
  font-size: 20px;
  font-weight: 400;
}
.input_box {
  width: 100%;
  margin-top: 10%;
}
.input_box_fa {
  direction: rtl;
  width: 100%;
  margin-top: 10%;
}

#forgot_email {
  font-size: 14px;
  font-weight: 500;
  color: #1a73e8;
  margin-top: 10px;
  padding-top: 10px;
  text-decoration: none;
}
#forgot_mb {
  border: none;
  background-color: transparent;
  color: #1a73e8;
}
#help_text {
  font-size: 13.5px;
  font-weight: 400;
  color: #5f6368;
  margin-top: 15%;
  text-decoration: none;
}
#sumbit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10%;
  margin-bottom: 5%;
}
#account {
  font-size: 14px;
  font-weight: 500;
  color: #1a73e8;
  margin-right: 52%;
  text-decoration: none;
}
#sumbit_fa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10%;
  margin-bottom: 5%;
}
#account_fa {
  font-size: 14px;
  font-weight: 500;
  color: #1a73e8;
  margin-right: 2%;
  margin-left: 48%;
  text-decoration: none;
}
#helps {
  display: flex;

  justify-content: flex-start;
  color: #5f6368;
}
#helps_fa {
  display: flex;

  justify-content: flex-start;
  color: #5f6368;
}
.text {
  margin-top: 10px;
  margin-left: 8%;
  font-size: 14px;
}
.show_pass {
  display: flex;
  margin-top: 1%;
}
#pass_text {
  margin-top: 2.1%;
}
@media screen and (max-width: 1600px)  {
  .login-form {
    margin-top: 10%;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    width: 84%;
    font-family: Vazirmatn,sans-serif;
    /* height: 60%; */
    padding: 20px;
  }
  .login-form-fa {
    direction: rtl;
    margin-top: 10%;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    font-family: Vazirmatn,sans-serif;
    width: 84%;
    /* height: 60%; */
    padding: 20px;
  }

}
@media screen and (max-height: 675px){
  .login-form {
    /* margin-top: 5%; */
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    width: 84%;
    font-family: Vazirmatn,sans-serif;
    /* height: 60%; */
    padding: 10px;
  }
  .login-form-fa {
    direction: rtl;
    margin-top: 10%;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    font-family: Vazirmatn,sans-serif;
    width: 84%;
    /* height: 60%; */
    padding: 10px;
  }
}