.Middle {
    height: 100%;
    /* width: 78%; */

}

.Middle_header {
    display: flex;
    /* justify-content: flex-start; */
    position: fixed;
    /* margin-top:15% ; */
    /* width: 78%; */
    width: 81%;
    /* direction: rtl; */
}

.gallery {
    /* margin: 1%; */
    margin-top: 2%;
    /* margin-left: 2%; */
    margin-right: 2%;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5%;
    /* padding: 2px; */
    width: 17%;
}
.gallery_fa {
    margin: 1%;
    margin-top: 2%;
    /* margin-left: 5x; */
    /* margin-right: 5px; */
    border: 1px solid #ccc;
    float: right;
    border-radius: 5%;
    /* padding: 2px; */
    width: 17%;
}


.gallery img {
    width: 100%;
    height: 70%;
    border-radius: 5%;
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.gallery_fa img {
    width: 100%;
    height: 50%;
    border-radius: 5%;
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.desc {
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 12px;
    direction: rtl;
    /* display: flex; */
    /* text-align: center; */
}
.desc_fa {
    padding-left: 20%;
    padding-bottom: 5%;
    font-size: 12px;
    /* height: 50%; */
    /* direction:ltr ; */
    /* display: flex; */
    width: 200px;
    /* flex-direction: row; */
    /* text-align: flex-end; */
}

.Middle_body {
    overflow-y: scroll;
    height: 82%;
    position: absolute;
    margin-top: 3%;
    width: 79.6%;
}

.Middle_body_table {
    width: 90%;
    margin-bottom: 3%;

}
.links{
    text-decoration: none;
    color:#828282;
}
.links:hover{
    text-decoration: none;
    color:#828282;
}
.links:visited{
    text-decoration: none;
    color:#828282;
}