.ms-4{
  margin-left:40%!important;
}
.col-35{
width: 24%!important;
}
.login-form {
  margin-top: 35%;
  /* margin-left: 100%; */
  border: 1px solid #dadce0;
  border-radius: 6px;
  width: 84%;
  font-family: Vazirmatn,sans-serif;
  /* height: 60%; */
  padding: 5%!important;
}
.login-form-fa {
  direction: rtl;
  margin-top: 35%;
  /* margin-left: 100%; */
  border: 1px solid #dadce0;
  border-radius: 6px;
  font-family: Vazirmatn,sans-serif;
  width: 84%;
  /* height: 60%; */
  padding: 5%!important;
}
.login-formm {
  /* direction: rtl; */
  margin-top: 5%;
  margin-left: 8%;
  /* margin-bottom: ; */
  font-family: Vazirmatn,sans-serif;
  /* margin-left: 100%; */
  border: 1.5px solid #dadce0;
  border-radius: 6px;
  width: 84%;
  /* height: 40%; */
  padding: 15%;
}
.login-formmfa {
  direction: rtl;
  margin-top: 17vh;
  margin-left: 8%;
  /* margin-bottom: ; */
  font-family: Vazirmatn,sans-serif;
  /* margin-left: 100%; */
  border: 1.5px solid #dadce0;
  border-radius: 6px;
  width: 84%;
  /* height: 40%; */
  padding: 15%;
}
.logos {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.logo {
  justify-content: center;
  width:20%;
  align-items: center;
  display: flex;
}
.logo_title_fa{
      display: flex;
    align-items: center;
    justify-content: center;
}

#sign_text {
  font-size: 30px;
  font-weight: bold;
  margin-right: 2%;
  color:#404040;
}

#continue_text {
  font-size: 17px;
  font-weight: bold;
  margin-top: 1%;
  color:#404040;
}
.input_box {
  width: 100%;
  margin-top: 10%;
}
.input_box_fa {
  direction: rtl!important;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#forgot_email {
  direction: rtl;
  font-size: 14px;
  font-weight: 400;
  color: #1a73e8;
  margin-top: 5%;
  border: #fff;
  background-color: #fff;
  text-decoration: none;
}
#forgot_mb {
  border: none;
  background-color: transparent;
  color: #1a73e8;
}
#help_text {
  font-size: 13.5px;
  font-weight: 400;
  color: #404040;
  margin-top: 15%;
  text-decoration: none;
}
#sumbit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 10%;
}
#account {
  font-size: 14px;
  font-weight: 400;
  color: #1a73e8;
  text-decoration: none;
}
#sumbit_fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 10%;
}
#account_fa {
  font-size: 14px;
  font-weight: 400;
  color: #1a73e8;
  text-decoration: none;
}
#helps {
  display: flex;
  margin-left: 40%;
  justify-content: center;
  color: #404040;
}
#helps_fa {
  display: flex;
  justify-content: flex-start;
  color: #404040;
}
.text {
  margin-top: 10px;
  margin-left: 8%;
  font-size: 14px;
}
.show_pass {
  display: flex;
  margin-top: 3%;
}
#pass_text {
  margin-top: 3%!important;
}
#pass_text_fa {
  margin-top: 9.2%!important;
  color: #404040;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1600px)  {
  .login-form {
    margin-top: 13vh;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    width: 84%;
    font-family: Vazirmatn,sans-serif;
    /* height: 60%; */
    padding: 5%!important;
  }
  .col-35{
    width: 28%!important;
    }
    .ms-4{
      margin-left:37%!important;
    }
  .login-form-fa {
    direction: rtl;
    margin-top: 13vh;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    font-family: Vazirmatn,sans-serif;
    width: 84%!important;
    /* height: 60%; */
    padding: 5%!important;
  }

}
@media screen and (max-width: 1200px)  {
  .col-35{
    width: 40%!important;
    }
    .login-form-fa {
      direction: rtl;
      margin-top: 11%;
      /* margin-left: 100%; */
      border: 1.5px solid #dadce0;
      border-radius: 6px;
      font-family: Vazirmatn,sans-serif;
      width: 72%!important;
      /* height: 60%; */
      padding: 5%!important;
    }
    .login-form {
      margin-top: 11%;
      /* margin-left: 100%; */
      border: 1.5px solid #dadce0;
      border-radius: 6px;
      width: 84%;
      font-family: Vazirmatn,sans-serif;
      /* height: 60%; */
      padding: 5%!important;
    }
 
    
      .ms-4{
        margin-left:32%!important;
        margin-bottom: 8%;
      }

}
@media screen and (max-width: 800px){
  .col-35{
    width: 50%!important;
    }
  .login-form {
     margin-top: 20%;
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    width: 84%;
    font-family: Vazirmatn,sans-serif;
    /* height: 60%; */
    padding: 10px;
  }
  .login-form-fa {
    direction: rtl;
    margin-top: 20%;
    /* margin-left: 100%; */
    border: 1.5px solid #dadce0;
    border-radius: 6px;
    font-family: Vazirmatn,sans-serif;
    width: 84%;
    /* height: 60%; */
    padding: 10px;
  }
  #continue_text {
    font-size: 14px;
    font-weight: bold;
    margin-top: 1%;
    color:#404040;
  }
}