



.gallery {
    /* margin: 1%; */
    margin-top: 2%;
    /* margin-left: 2%; */
    margin-right: 2%;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5%;
    /* padding: 2px; */
    width: 17%;
}
.gallery_fa {
    margin: 1%;
    margin-top: 2%;
    /* margin-left: 5x; */
    /* margin-right: 5px; */
    border: 1px solid #ccc;
    float: right;
    border-radius: 5%;
    /* padding: 2px; */
    width: 17%;
}
.no_file{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:"80%!important";
    color: "#404040";
    margin-top: 10%;
    font-weight: 400;
    font-size: 30px;
}
.no_file_move{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:"20%!important";
    color: "#404040";
    margin-top: 10%;
    font-weight: 400;
    font-size: 15px;
}
.gallery img {
    width: 100%;
    height: 70%;
    border-radius: 5%;
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.gallery_fa img {
    width: 100%;
    height: 50%;
    border-radius: 5%;
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.desc {
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 12px;
    direction: rtl;
    /* display: flex; */
    /* text-align: center; */
}
.desc_fa {
    padding-left: 20%;
    padding-bottom: 5%;
    font-size: 12px;
    /* height: 50%; */
    /* direction:ltr ; */
    /* display: flex; */
    width: 200px;
    /* flex-direction: row; */
    /* text-align: flex-end; */
}

.Middle_body {
    overflow-y: scroll;
    height: 82%;
    position: fixed;
    /* margin-top: 3%; */
    font-family: Vazirmatn,sans-serif;
    width: 85%;

}

.Middle_body_table {
    width: 90%;
    margin-bottom: 3%;

}
.links{
    text-decoration: none;
    color:#7F7F7F;
}
.links:hover{
    text-decoration: none;
    color:#7F7F7F;
}
.links:visited{
    text-decoration: none;
    color:#7F7F7F;
}
.table_file{
    width: 100% !important;
}
@media screen and (max-width: 1600px) {
    .no_file{
 
        width:"80%!important";
        margin-top: 10%;
        font-weight: 400;
        font-size: 25px;
    }
  }
  @media screen and (max-width: 1200px) {
    .no_file{
        width:"100%!important";
        margin-top: 10%;
        font-weight: 400;
        font-size: 22px;
    }
  }
  @media screen and (max-width: 768px) {
    .Middle_body_table {
        width: 92%;
        margin-bottom: 3%;
    
    }
    .no_file{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:100%!important;
        margin-top: 10%;
        font-weight: 400;
        font-size: 20px;
    }
  }
