label {
  display: block;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.off-2{
  margin-right: 16%!important;
}
.offl-2{
  margin-left: 16%!important;
}
.column-2{
  width:20%!important;
}
.column-10{
  width:82%!important;
}

.App {
  /* display: flex; */
  overflow: hidden;
}

#Header {
  position: fixed;
}

.app_mid {
  margin-top: 4%!important;
  /* height: 850px; */
}
.App_fa{
  overflow: hidden;
  /* direction: rtl; */
}
@media screen and (max-width: 1600px) {
  .off-2{
    margin-right: 16%!important;
  }
  .offl-2{
    margin-left: 16%!important;
  }
  .column-10{
    width:84%!important;
  }
  
  .app_mid {
    margin-top: 4.6%!important;
    /* height: 850px; */
  }
}
@media screen and (max-width: 1300px){
  .app_mid {
    margin-top: 5%!important;
    /* height: 850px; */
  }
}
@media screen and (max-width: 1200px) {
  .off-2{
    margin-right: 21%!important;
  }
  .offl-2{
    margin-left: 21%!important;
  }
  .app_mid {
    margin-top: 6.6%!important;
    /* height: 850px; */
  }
  .column-10{
    width:77%!important;
  }
}
@media screen and (max-width: 1000px) {
  .app_mid {
    margin-top: 7.6%!important;
    /* height: 850px; */
  }
}
@media screen and (max-width: 768px) {
  .off-2{
    margin-right: 26%!important;
  }
  .offl-2{
    margin-left: 20%!important;
  }
  .column-10{
    width:74%!important;
  }
  .column-2{
    width:21%!important;
  }
  .app_mid {
    margin-top: 7%!important;
    /* height: 850px; */
  }
}